<h1><%= @author.name %></h1>
<p>Age: <%= @author.age %></p>
<p><%= "Living" if @author.living == true %></p>
<p><%= "Deceased" if @author.living == false %></p>
<p>Number of Books: <%= @author.books_count %></p>
<%= link_to "Authors Books Index", "/authors/#{@author.id}/books" %>
<%= link_to 'Update Author', "/authors/#{@author.id}/edit" %>
<%= link_to 'Delete Author', "/authors/#{@author.id}", method: :delete %>
