<h1><%= @author.name %></h1>
<%= link_to 'Create Book', "/authors/#{@author.id}/books/new" %>

<% @books.each_with_index do |book, index| %>
  <div id="index-<%= index %>">
  <h2><%= book.title %></h2>
  <p>Pages: <%= book.pages %></p>
  <p>Series: <%= book.series %></p>
  </div>
<% end %>
